BinarySerializer/.vs/
BinarySerializer/BinarySerializer/obj/
BinarySerializer/BinarySerializer/bin/
BinarySerializer/BinarySerializerTest/bin/
BinarySerializer/BinarySerializerTest/obj/
BinarySerializer/packages/